/* RESET CSS */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}
/* FIM RESET CSS */

@font-face {
    font-family: 'Poppins';
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins Bold';
    src: url(font/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'OpenSans';
    src: url(font/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url(font/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(font/Roboto-Regular.ttf);
}


.nome h1 {
    padding: 25px 0;
    font: 600 35px 'Poppins Bold';
    text-align: center;
    color: #fff;

    background-color: #14969f;
    height: 100px;
}

.subtitulo {
    font: 200 21px 'OpenSans';
    background-color: #0a6f74;
    height: 50px;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.controleDeAcesso{
    font:  500 15px 'OpenSans';
    margin-top: 100px;
    margin-left: 200px;
}

.cartaoNumero{
    margin-top: 20px;
    margin-left: 200px;
}

input{
    width: 300px;
    height: 40px;

    background-color: #d5f9f2;

    border-radius: 20px;

    padding: 24px 20px;

    font: 200 13px 'OpenSans';
}

#all {
    height: 180px;
}

button {
    color: #fff;
    font: 200 15px 'OpenSans';
    background-color: #0a6f74;

    border-radius: 20px;


    padding: 15px 20px;
}

#accessMessage {
    font: 200 16px 'OpenSans';
    margin-top: 20px;
}

.inicio{
    background-color: #023c3e;
}

.titulo {
    font: 600 30px 'Poppins Bold';
    color: #fff;
    margin-left: 200px;
    padding-top: 100px;
}

.text {
    font: 400 19px 'OpenSans';
    color: #fff;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    padding-bottom: 100px;
}

.rodape {
    margin-top: 80px;
    height: 230px;
    background-color: #023c3e;
}

.rodTec {
    text-align: center;
    padding-top: 80px;
    color: #fff;
    font: 600 26px 'Poppins Bold';
}

.rodTecc {
    text-align: center;
    font: 400 22px 'OpenSans';
    color: #fff;
}